@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
html {
    scroll-behavior: smooth;
}
:root {
    --primary-color: #e9204f; 
    /* --primary-color: #ff004f;  */
    --secondary-color: #b54769;
    --grey-color: #ababab;
    --white-color: #fff;
    --body-color: #080808;
    --background-color: #262626;  
}
.light-theme {
    --primary-color: #10a8a1;
    --secondary-color: #45b3ad;
    --white-color: #b4b3b3;
    --body-color: #fff; 
}
#icon {
    width: 30px;
    cursor: pointer;
}
nav ul {
    flex: 1;
    text-align: right;
}
body {
    background: var(--body-color);
    color: var(--white-color);
}
#header {
    width: 100%;
    height: 100vh;
    background-image: url(images/background.png);
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
}
.container {
    padding: 10px 10%;
}
nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}
#logo {
    text-decoration: none;
    color: var(--white-color);
    font-size: 42px;
    font-weight: 700;
    letter-spacing: 1px;
}
#logo span {
    color: var(--primary-color);
    font-size: 50px;
}
.logo {
    width: 140px;
}
nav ul li {
    display: inline-block;
    list-style: none;
    margin: 10px 20px;
}
nav ul li a {
    color: var(--white-color);
    text-decoration: none;
    font-size: 18px;
    position: relative;
}
nav ul li a::after {
    content: '';
    width: 0;
    height: 3px;
    background: var(--primary-color);
    position: absolute;
    left: 0;
    bottom: -6px;
    transition: 0.5s;
}
nav ul li a:hover::after {
    width: 100%;
}

.header-text {
    margin-top: 20%;
    font-size: 30px;
}
.header-text h1 {
    font-size: 60px;
    margin-top: 20px;
}
.header-text span {
    color: var(--primary-color);
}

/* -------about------ */
#about {
    padding: 80px 0;
    color: var(--grey-color);
}
.row {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.about-col-1 {
    flex-basis: 35%;
}
.about-col-1 img {
    width: 100%;
    border-radius: 15px;
}
.about-col-2 {
    flex-basis: 60%;
}
.sub-title {
    margin-bottom: 20px;
}
.sub-title span {
    color: var(--primary-color);
}
.sub-titles {
    display: flex;
    margin: 20px 0 40px; 
}
.tab-links {
    margin-right: 50px;
    font-size: 18px;
    font-weight: 500;
    cursor: pointer;
    position: relative;
}
.tab-links::after {
    content: '';
    width: 0;
    height: 3px;
    background: var(--primary-color);
    position: absolute;
    left: 0;
    bottom: -8px;
    transition: 0.5s;
}
.tab-links.active-link::after {
    width: 50%;
}
.tab-contents ul li {
    list-style: none;
    margin: 10px 0;
}
.tab-contents ul li span {
    color: var(--secondary-color);
    font-size: 14px;
}
.tab-contents {
    display: none;
}
.tab-contents.active-tab {
    display: block;
}

/* ---------services------- */
#services {
    padding: 30px 0;
}
.services-list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 40px;
    margin-top: 50px;
}
.services-list div {
    background: var(--background-color);
    padding: 40px;
    font-size: 13px;
    font-weight: 300;
    border-radius: 10px;
    transition: background 0.5s, transform 0.5s !important;
}
.services-list div i {
    font-size: 50px;
    margin-bottom: 30px;
}
.services-list div h2 {
    font-size: 30px;
    font-weight: 500;
    margin-bottom: 15px;
}
.services-list div a {
    text-decoration: none;
    color: var(--white-color);
    font-size: 12px;
    margin-top: 20px;
    display: inline-block;
}
.services-list div p {
    line-height: 1.4;
}
.services-list div:hover {
    background: var(--primary-color);
    transform: translateY(-10px) !important;
}


/* portfolio */
#portfolio {
    padding: 50px 0;
}
.work-list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 40px;
    margin-top: 50px;
}
.work {
    border-radius: 10px;
    position: relative;
    overflow: hidden;
}
.work img {
    width: 100%;
    border-radius: 10px;
    display: block;
    transition: transform 0.5s;
}
.layer {
    width: 100%;
    height: 0;
    background: linear-gradient(rgba(0,0,0,0.5), var(--primary-color));
    border-radius: 10px;
    position: absolute;
    left: 0;
    bottom: 0;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0 40px;
    text-align: center;
    font-size: 14px;
    transition: height 0.5s;
}
.layer h3 {
    font-weight: 500;
    margin-bottom: 20px;
}
.layer a {
    margin-top: 20px;
    color: var(--primary-color);
    text-decoration: none;
    font-size: 18px;
    line-height: 60px;
    background: var(--white-color);
    width: 60px;
    height: 60px;
    border-radius: 50%;
    text-align: center;
}
.work:hover img {
    transform: scale(1.1);
}
.work:hover .layer {
    height: 100%;
}
.btn {
    display: block;
    margin: 50px auto;
    width: fit-content;
    border: 2px solid var(--primary-color);
    padding: 14px 50px;
    border-radius: 6px;
    text-decoration: none;
    color: var(--white-color);
    transition: background 0.5s;
    transition: 0.5s;
}
.btn:hover {
    background: var(--primary-color) !important;
    transform: translateY(-10px) !important;
}
/* --------contact------- */
.contact-left {
    flex-basis: 35%;
}
.contact-right {
    flex-basis: 60%;
}
.contact-left p {
    margin-top: 30px;
}
.contact-left p i {
    color: var(--primary-color);
    margin-right: 15px;
    font-size: 25px;
}
.social-icons {
    margin-top: 30px;
}
.social-icons a {
    text-decoration: none;
    font-size: 30px;
    margin-right: 15px;
    color: var(--grey-color);
    display: inline-block;
    transition: transform 0.5s;
}
.social-icons a:hover {
    color: var(--primary-color);
    transform: translateY(-5px);
}
.btn.btn2 {
    display: inline-block;
    background: var(--primary-color);
    margin-top: 10px;
}
form input, form textarea {
    width: 100%;
    border: 0;
    outline: none;
    background: var(--background-color);
    padding: 15px;
    margin: 15px 0;
    color: var(--white-color);
    font-size: 18px;
    border-radius: 6px;
}
form .btn2 {
    padding: 14px 60px;
    font-size: 18px;
    margin-top: 20px;
    cursor: pointer;
}
.copyright{
    width: 100%;
    text-align: center;
    padding: 25px 0;
    background: var(--background-color);
    font-weight: 300;
    margin-top: 20px;
}
.copyright i, .copyright .bx {
    color: var(--primary-color);
}
nav .fas {
    display: none;
}
nav .fas.fa-moon,
nav .fas.fa-sun {
    display: none;
    position: absolute;
    right: 45px;
    z-index: 999;
    top: 60px;
}

.scroll-btn {
    position: fixed;
    bottom: 6rem;
    right: 2.2rem;   
}
.scroll-btn .bx{
   color: var(--primary-color); 
}

.social-icons-2 .bx {
    margin-top: 30px;
    margin-bottom: 16px;
    margin-right: 16px;
    font-size: 16px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    background: var(--grey-color);
    width: 30px;
    height: 30px;
    color: var(--body-color);
    border-radius: 15%;
    transition: all ease 0.5s;
    border: 2px solid var(--grey-color);
    font-size: 1.6rem;
}

.social-icons-2 .bx:hover {
    background: var(--primary-color);
    box-shadow: 0 0 2px 5px rgba(0,0,0,0.5), var(--primary-color);
    border: 2px solid var(--primary-color);
    transform: translateY(-7px);
}
.bx.bxs-chevron-up-square.bx-lg {
    background-color: linear-gradient(red, green);
}
/* ------------css for small screens---------- */
@media only screen and (max-width: 600px) {
    #header {
        background-image: url(images/phone-background.png);
    }
    .header-text {
        margin-top: 90%;
        font-size: 16px;
    }
    .header-text h1 {
        font-size: 30px;
    }
    nav .fas {
        display: block;
        font-size: 25px;
    }
    nav .fas.fa-moon {
        right: 90px;
    }
    /* nav ul {
        background: var(--primary-color);
        position: fixed;
        left: 0;
        top: -500px;
        width: 100%;
        height: 500px;
        padding-top: 50px;
        transition: 0.5s;
        z-index: 1;
        text-align: left;
    } */
    nav ul {
        background: var(--primary-color);
        position: fixed;
        top: 0;
        right: -200px;
        width: 200px;
        height: 100vh;
        padding-top: 50px;
        transition: 0.5s;
        z-index: 1;
        text-align: left;
    }
    nav ul li {
        display: block;
        margin: 25px;
    }
    nav ul .fas {
        position: absolute;
        top: 25px;
        left: 25px;
        cursor: pointer;
    }
    /* nav ul .fas {
        position: absolute;
        top: 25px;
        right: 50px;
        cursor: pointer;
    } */
    .services-list p {
        font-size: 16px;
    }
    .sub-title {
        font-size: 40px;
    }
    .about-col-1,
    .about-col-2 {
        flex-basis: 100%;
    }
    .about-col-1 {
        margin-bottom: 30px;
    }
    .about-col-2 {
        font-size: 20px;
    }
    .tab-links {
        font-size: 16px;
        margin-right: 20px;
    }
    .contact-left,
    .contact-right {
        flex-basis: 100%;
    }
    .copyright {
        font-size: 14px;
    }
    #icon {
        position: absolute;
        right: 85px;
    }

}

.skills {
    background: var(--background-color);
}
.skills-main {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-row-gap: 30px;
    grid-column-gap: 50px;
}
.skill-bar {
    margin-bottom: 2.3rem;
}
.skill-main h3 {
    margin-bottom: 2rem;
    font-size: 3rem;
    text-align: center;
}
.skil-left .skill-bar .info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 10px;
}